/*-- scss:variables --*/

// cb1

//$cb1: #E69F00;
$cb1: rgb(230, 159, 0);
//$cb1-alpha: #E69F007F;
$cb1-alpha: rgba(230, 159, 0, 0.333);

// cb2

//$cb2: #56B4E9;
$cb2: rgb(86, 180, 233);
$cb2-alpha: rgba(86, 180, 233, 0.333);
//$cb2-alpha: #56B4E97F;

// cb3

//$cb3: #009E73;
$cb3: rgb(0, 158, 115);
$cb3-alpha: rgba(0, 158, 115, 0.333);

// gray

$cbg: rgb(211, 211, 211);
$cbg-alpha: rgba(211, 211, 211, 0.333);


/*-- scss:rules --*/

a.disabled {
    /* Make the disabled links grayish*/
    color: gray;
    /* And disable the pointer events */
    pointer-events: none;
}


.after-arrow ::after {
    content: "&rarr;" !important;
    display: inline-block !important;
    position: absolute !important;
    background: #000;
    width: 30px;
    height: 30px;
    top: 25px;
    left: -15px;
    transform: rotate(45deg);
}

.align-right {
    margin-left: auto;
    margin-right: 0;
    float: right;
    padding-bottom: 2px!important;
    margin-bottom: 2px!important;
}

aside {
    font-size: 0.5em !important;
}

// To fix the small TeX column headers in
// quarto tables
.big-header {
    font-size: 1.3em !important;
}
.bigger-header {
    font-size: 1.7em !important;
}

.bold {
    font-weight: bold !important;
}

.callout-star .callout-content {
    font-size: 1.8em !important;
    border: 1px solid black !important;
}

.callout-tip {
    margin-bottom: 1px !important;
}

.caption {
    text-align: center !important;
}

.caption-sized {
    font-size: 0.5em !important;
}

// Colors: text color, background color, and
// transparent versions
.cb1 {
    color: $cb1 !important;
}
.cb1-bg {
    background-color: $cb1 !important;
}
.cb1a-bg {
    background-color: $cb1-alpha !important;
    text-align: center !important;
}
.cb2 {
    color: $cb2 !important;
}
.cb2-bg {
    background-color: $cb2 !important;
}
.cb2a-bg {
    background-color: $cb2-alpha !important;
    text-align: center !important;
}
.cb3 {
    color: $cb3 !important;
}
.cb3-bg {
    background-color: $cb3 !important;
}
.cb3a-bg {
    background-color: $cb3-alpha !important;
    text-align: center !important;
}
.cb4 {
    color: #F0E442 !important;
}
.cbg {
    color: $cbg !important;
}
.cbg-bg {
    background-color: $cbg !important;
}
.cbga-bg {
    background-color: $cbg-alpha !important;
    text-align: center !important;
}

.coef-label {
    width: 100% !important;
    height: 100% !important;
    margin: auto !important;
    color: blue !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.coef-table {
    font-family: 'Courier New', Courier, monospace !important;
    font-size: 1.5rem !important;
}

.coef-table td {
    vertical-align: middle !important;
}

// Crunch: Removing or decreasing gaps

// blockquote
.crunch-blockquote blockquote {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

// caption
.crunch-caption figcaption {
    margin-top: 0px !important;
}

// cell-output
.crunch-cell-output div.cell-output-display p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    // border: 5px solid green !important;
}

// center
.crunch-center center {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

// code
.crunch-code details {
    margin-bottom: 4px !important;
}

// figures
.crunch-figures .quarto-figure {
    margin-bottom: 0 !important;
}
.crunch-figures figcaption {
    margin-top: 0 !important;
}

// images
.crunch-images img {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

// lists
.crunch-lists li {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

// math
.crunch-math .MathJax {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.crunch-math .MathJax_Display {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.crunch-math-less .MathJax {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}
.crunch-math-less .MathJax_Display {
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}

// output (pre)
.crunch-output pre {
    font-size: 1.08rem !important;
}

// quarto-layout-panel
.crunch-quarto-layout-panel .quarto-layout-panel {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

// title
.crunch-title h2 {
    margin-bottom: 1px !important;
}

// ul
.crunch-ul ul {
    margin-bottom: 0px !important;
}

// End crunch classes

.dataTables_paginate {
    font-size: 0.8em !important;
}

figcaption {
    text-align: center !important;
}

.fig-half figure {
    width: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.fix-tex-headers th {
    font-size: 1em !important;
}

// Fixed-width

.fw-block {
    font-family: 'Courier New', Courier, monospace;
}
.fw-table {
    /* For tables with fixed-width font */
    font-family: 'Courier New', Courier, monospace;
}

.full-width-quotes .callout-body {
    width: 100% !important;
}

.full-width-quotes .callout-content {
    width: 100% !important;
}

.green {
    color: green !important;
}

.green-bg {
    background-color: rgba(0,128,0,0.1);
}

.gsym-large {
    font-size: 1.5em !important;
}

.gsym-medium {
    font-size: 1.2em !important;
}

.highlight-below {
    background-color: transparent !important;
}

.highlight-block {
    border: 1px solid black !important;
    width: fit-content !important;
    padding: 10px !important;
    filter: drop-shadow(0rem 0rem 0.8rem black) !important;
    border-radius: 3px !important;
    // margin-bottom: 10px !important;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 200,
        'opsz' 48
}

.music-automata .quarto-layout-panel {
    height: 400px !important;
}

.nobotmargin * {
    margin-bottom: 0px !important;
}

.notopmargin * {
    margin-top: 0px !important;
}

.not-title-slide {
    display: block !important;
    top: 0px !important;
}

.param {
    color: purple !important;
}

.px-4 {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.quarto-layout-cell-no-margin .quarto-layout-cell {
    margin-right: 0px !important;
}

.red {
    color: red !important;
}

.red-bg {
    background-color: rgba(255,0,0,0.1);
}

// Shift footnotes

.shift-footnotes aside {
    transform: translateY(45px) !important;
}
.shift-footnotes-0 aside {
    bottom: 0px !important;
}
.shift-footnotes-10 aside {
    transform: translateY(10px) !important;
    bottom: 0px !important;
}
.shift-footnotes-20 aside {
    transform: translateY(20px) !important;
    bottom: 0px !important;
}
.shift-footnotes-30 aside {
    transform: translateY(30px) !important;
    bottom: 0px !important;
}
.shift-footnotes-less aside {
    transform: translateY(30px) !important;
}
.shift-footnotes-more aside {
transform: translateY(60px) !important;
}

// Smaller/smaller/smallish classes

// aside
.small-aside {
    font-size: 1rem !important;
}

// caption
.smallish-caption figcaption {
    font-size: 1.5rem !important;
}
.small-caption figcaption {
    font-size: 0.45em !important;
}

// codeblock
.small-codeblock {
    font-size: 1.2rem !important;
}
.smallish-codeblock {
    font-size: 1.75rem !important;
}

// footer
.small-footer {
    font-size: 0.4em !important;
}

// inline math
.small-inline .math.inline {
    font-size: 85% !important;
}

// math
.smallishish-math .math.display {
    font-size: 95% !important;
}
.smallish-math .math.display {
    font-size: 90% !important;
}
.small-math .math.display {
    font-size: 85% !important;
}
.smaller-math .math.display {
    font-size: 80% !important;
}

// table
.small-table td, th {
    font-size: 1.5rem !important;
}
.smallish-table td, th {
    font-size: 1.7rem !important;
}
.smallishish-table td, th {
    font-size: 2.0rem !important;
}

// tex
.small-tex-td {
    font-size: 2.0rem !important;
}
.small-tex-th {
    font-size: 2.0rem !important;
}

// text
.small-text {
    font-size: 85% !important;
}
.smaller-text {
    font-size: 80% !important;
}

// title
.small-title h2 {
    // font-size: var(--r-heading2-size) !important;
    font-size: var(--r-heading3-size) !important;
}
.title-07 h2 {
    font-size: calc(0.7 * var(--r-heading2-size)) !important;
}
.title-08 h2 {
    font-size: calc(0.8 * var(--r-heading2-size)) !important;
}
.title-09 h2 {
    font-size: calc(0.9 * var(--r-heading2-size)) !important;
}
.title-10 h1 {
    font-size: calc(1.0 * var(--r-heading2-size)) !important;
}
.title-10 h2 {
    font-size: calc(1.0 * var(--r-heading2-size)) !important;
}
.title-11 h1 {
    font-size: calc(1.1 * var(--r-heading2-size)) !important;
}
.title-11 h2 {
    font-size: calc(1.1 * var(--r-heading2-size)) !important;
}
.title-12 h2 {
    font-size: calc(1.2 * var(--r-heading2-size)) !important;
}
.title-12 h1 {
    font-size: calc(1.2 * var(--r-heading2-size)) !important;
}
.title-13 h2 {
    font-size: calc(1.3 * var(--r-heading2-size)) !important;
}
.title-13 h1 {
    font-size: calc(1.3 * var(--r-heading2-size)) !important;
}
.title-14 h2 {
    font-size: calc(1.4 * var(--r-heading2-size)) !important;
}
.title-14 h1 {
    font-size: calc(1.4 * var(--r-heading2-size)) !important;
}
.less-smallish-title h2 {
    font-size: calc(1.3 * var(--r-heading2-size)) !important;
}
.smallish-title h2 {
    font-size: calc(1.4 * var(--r-heading2-size)) !important;
}

.split-table {
    border-right: 3px solid black;
}

summary {
    font-size: 80% !important;
    cursor: pointer !important;
    background-color: #ffffff !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid transparent !important;
}

summary:hover {
    background-color: #fafafa !important;
    // border-bottom: 1px solid black !important;
}

.unnumbered h2 {
    margin-bottom: 0px !important;
}

.zigzag {
    position: relative;
    padding: 8px 8px 32px 8px;
    background: #dddccf;
}

.zigzag:after {
    background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}
